fastapi
uvicorn[standard]
sqlalchemy
pydantic_settings
asyncpg
alembic
python-dotenv
pydantic[email]
python-jose[cryptography]
passlib
python-multipart
pytest
pytest-asyncio
httpx
argon2-cffi
resend
redis
asgi-lifespan
pytest-cov

alembic

pymupdf